{% extends "base.html.twig" %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <div class="bg-light p-3" style="margin-top: 150px">
        <h1>Votre panier</h1>
    </div>

    {% if items | length > 0 %}
      <table class="table">
        <thead>
          <tr>
            <th>Produits</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ (item.product.priceTtc / 100)|number_format(2, ',', ' ') }} €</td>
              <td>{{ (item.product.priceHt / 100)|number_format(2, ',', ' ') }} €</td>
              <td>{{ item.quantity }}</td>
              <td>{{ (item.product.priceTtc * item.quantity / 100)|number_format(2, ',', ' ') }} €</td>
              <td>
                <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right">Total : </td>
            <td>{{ total|number_format(2, ',', ' ') }} €</td>
            <td> </td>
          </tr>
        </tfoot>
      </table>
    {% else %}
      <p>Surprise, c'est vide !</p>
    {% endif %}





{% endblock %}
