{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block idBody %}registrationForm{% endblock %}

{% block body %}
  <div class="blocFull backgroundLightGreen">
    <div class="containerForm">
      <h1>S'inscrire</h1>
      <div>
        <ul>
          <li>
            {{ form_row(registrationForm.lastName) }}
          </li>
          <li>
            {{ form_row(registrationForm.firstName) }}
          </li>
          <li>
            {{ form_row(registrationForm.email) }}
          </li>
          <li>
            {{ form_row(registrationForm.phone) }}
          </li>
          <li>
            {{ form_row(registrationForm.password.first) }}
          </li>
          <li>
            {{ form_row(registrationForm.password.second) }}
          </li>
          <li>
            {{ form_row(registrationForm.isCompany) }}
          </li>
          <li>
            {{ form_row(registrationForm.companyName) }}
          </li>
          <li>
        </ul>
      </div>
      <div class="newsletterCGV">
        {{ form_row(registrationForm.newsletterAcceptance) }}
        {{ form_row(registrationForm.agreeTerms) }}
      </div>
      <div>
        <a href="" class="btn">S'inscrire</a>
        {{ form_end(registrationForm) }}

        <a href="{{ path('app_login') }}">Se connecter</a>
      </div>
    </div>
  {% endblock %}
