<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="">
        <h2>Détail de la facture</h2>
        <p>Adresse de livraison: {{ bill.getDeliveryAddress }}</p>
        <p>Adresse du devis: {{ bill.getBillingAddress }}</p>
        <p>Date de demande: {{ bill.requestDate|date("m/d/Y") }}</p>
        <p>Date de confirmation: {{ bill.acceptanceDate|date("m/d/Y") }}</p>
        <p>Approuvé ?: {{ bill.approved }}</p>
        <p>Client: {{ bill.getCustomer }}</p>
        <p>Email: {{ bill.email }}</p>
    </div>
</div>
</body>
</html>