{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block idBody %}homepage{% endblock %}

{% block body %}
  <section>
    <article id="blocPresentation">
      <div class="container">
          <div class="blocHalf">
            <h1><span>Pour le recyclage </span><br/>pensez Eco-Service.</h1>
            <p class="blocContent">Notre quantité de déchets a doublé en 40 ans : dans nos poubelles, on retrouve des sacs en plastique, des gobelets jetables,
            des disques de coton, des cotons-tiges, des capsules de café… Ne serait-il pas temps d'arrêter les frais ?
            <br/>
            Eco-Service vous aide à réduir votre impact sur la pollution : vous trouverez ici des produits éco-responsables, une démarche zéro déchet,
            en passant par des astuces pour recycler soi même et fabriquer ses propres produits.
          </p>
          </div>

          <div class="blocHalf">
            <img class="fullSize" src="{{ asset('images/img-homepage-1.jpg') }}">
          </div>
        </div>
      </div>
    </article>

    <svg class="wave waveTop fillLightGreen" viewBox="0 0 1440 120" aria-hidden="true">
  		<path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
	  </svg>
    <article id="blocProducts" class="backgroundLightGreen">
      <div class="container">
        <div class="blocFull">
          <h2 class="textCenter">Nos produits phares</h2>
          <ul class="detailList">
            {# TODO remplacer la liste par des valeurs de la base de données #}
            <li class="detailElement">
              <a class="fontSize0" href="#">
                <img src="{{ asset('images/gourde-inox.jpg') }}">
              </a>
              <ul class="detailContent">
                <li class="detailContentDatas">
                  <a href="#">
                    <h3>Gourde isotherme en inox</h3>
                  </a>
                  <a href="#">
                    <p>Alimentaire</p>
                  </a>
                </li>
                <li class="detailPrice">25,00 €</li>
              </ul>
            </li>
            <li class="detailElement">
              <a class="fontSize0" href="#">
                <img src="{{ asset('images/coton.jpg') }}">
              </a>
              <ul class="detailContent">
                <li class="detailContentDatas">
                  <a href="#">
                    <h3>Lot de cotons réutilisables</h3>
                  </a>
                  <a href="#">
                    <p>Cosmétiques</p>
                  </a>
                </li>
                <li class="detailPrice">17,00 €</li>
              </ul>
            </li>
            <li class="detailElement">
              <a class="fontSize0" href="#">
                <img src="{{ asset('images/toothbrush.jpg') }}">
              </a>
              <ul class="detailContent">
                <li class="detailContentDatas">
                  <a href="#">
                    <h3>4 brosses à dents en bambou</h3>
                  </a>
                  <a href="#">
                    <p>Hygiène</p>
                  </a>
                </li>
                <li class="detailPrice">16,50 €</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <svg class="wave waveBottom fillLightGreen" viewBox="0 0 1440 120" aria-hidden="true">
  		<path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
	  </svg>

    <article id="blocServices">
      <h2 class="textCenter"><span>L'écologie autrement </span><br/>Que propose Eco-Service ?</h2>
      <div class="container">
        <div class="blocHalf">
          <h3>Des produits</h3>
          <p class="blocContent">Pourquoi nos poubelles se remplissent-elles si rapidement ? La raison est simple :
            nous surconsommons des produits à usage unique.
            <br>
            Eco-service vous propose un défi simple : diviser votre quantité de déchets
            hebdomadaire par deux voire par trois en ayant sous la main les objets utiles.
            <br>
            Si vous ne les possédez pas déjà, le fait de vous en procurer sera de toute évidence une source d’économies et un
            pas de plus vers le zéro déchet (ou presque),
            puisque nombre de ces indispensables sont à usage presque indéfini.</p>
          <a class="btn" href="#{# TODO remplacer le lien #}">Accéder au catalogue</a>
        </div>
        <div class="blocHalf">
          <img class="fullSize" src="{{ asset('images/img-homepage-2.jpg') }}">
        </div>
      </div>

      <div class="container reverse">
        <div class="blocHalf">
          <h3>Des recettes DIY</h3>
          <p class="blocContent">Pourquoi ne pas vous mettre à fabriquer vous-même vos produits ?
          Des produits d'entretien aux cosmétiques, vous ferez de considérables économies en plus de réduire vos déchets.
          Nous vous proposons, pour vous aider dans cette démarche, de multiples recettes :
          produit démaquillant, déodorant, cotons réutilisables, lessive, savon, baume à lèvres,...</p>
          <a class="btn" href="#{# TODO remplacer le lien #}">Accéder au blog</a>
        </div>
        <div class="blocHalf">
          <img class="fullSize" src="{{ asset('images/img-homepage-3.jpg') }}">
        </div>
      </div>

      <div class="container">
        <div class="blocHalf">
          <h3>Des services</h3>
          <p class="blocContent">Votre société désire adopter une démarche plus éco-responsable ? <br>
            Recyclages, enlèvement de déchets, matériel : découvrez nos nombreux services dans le catalogue et
            faites appel à nous en réalisant votre devis en ligne. Vous serez par la suite mis en relation avec un commercial.</p>
          <a class="btn" href="#{# TODO remplacer le lien #}">Accéder au catalogue</a>
        </div>
        <div class="blocHalf">
          <img class="fullSize" src="{{ asset('images/img-homepage-4.jpg') }}">
        </div>
      </div>
    </article>

    <svg class="wave waveTop fillLightGreen" viewBox="0 0 1440 120" aria-hidden="true">
  		<path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
	  </svg>
    <article id="blocInformations" class="backgroundLightGreen">
      <div class="container">
        <ul class="detailInformations">
          <li class="detailElement textCenter">
            <p class="count">27</p>
            <span>des Français achètent des </br> produits respectueux de l'environnement</span>
          </li>
          <li class="detailElement textCenter">
            <p class="count">80</p>
            <span>des produits manufacturés sont </br> jetés dans les 6 premiers mois de leur vie</span>
          </li>
          <li class="detailElement textCenter">
            <p class="count">34</p>
            <span>des Français font attention à la </br> quantité de déchets impliquée par leurs achats</span>
          </li>
        </ul>
      </div>
    </article>
  </section>
{% endblock %}
