{{ form_start(form, {attr: {class: 'filter'}}) }}

<div class="title-filter">
    <div class="rechercher">
        <h4>Rechercher : </h4>
        {{ form_widget(form.q) }}
    </div>
    {{ form_widget(form.categories) }}
    {#  <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>#}
    <button type="submit" class="btn">Filtrer</button>
</div>
{{ form_end(form) }}
