{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Créer un produit</h1>

    {{ form_start(form) }}
      {{ form_widget(form) }}
      <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('index_product') }}">Retourner à la liste des produits</a>
{% endblock %}
