{% extends "base.html.twig" %}

{% block title %}{{ product.getName }}
{% endblock %}

{% block idBody %}fiche-produit{% endblock %}

{% block body %}

  <div class="container">
    <div id="header-product">
      <div class="img-product">
        <figure class="zoom imgPres" style="background-image: url(https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp); background-position: 98.8% 45.1957%;">
          <img src="https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp" alt="">
        </figure>
        <figure class="zoom imgPres" style="background-image: url(https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp); background-position: 98.8% 45.1957%;">
          <img src="https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/ce2ece60-9b32-11e6-95ab-00163ed833e7/260663710/the-test-fun-for-friends-screenshot.jpg" alt="">
        </figure>
        <figure class="zoom imgPres" style="background-image: url(https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp); background-position: 98.8% 45.1957%;">
          <img src="https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp" alt="">
        </figure>
        <figure class="zoom imgPres" style="background-image: url(https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp); background-position: 98.8% 45.1957%;">
          <img src="https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/ce2ece60-9b32-11e6-95ab-00163ed833e7/260663710/the-test-fun-for-friends-screenshot.jpg" alt="">
        </figure>
      </div>
      <div class="infos-product textCenter">
        <h1>
          <span>{{ product.getName }}</span></h1>
        <p>
          {{ (product.getPriceTtc / 100)|number_format(2, ',', '.') }}
          €</p>
        <label for="qty-product">Choisissez une quantité :</label>
        <input id="qty-product" type="number" min="1" max="{{ (product.quantity )}}" >

        <a class="btn-acheter" href="{{ path('cart_add', {'id': product.id}) }}">Ajouter au PANIER</a>
      </div>
    </div>
  </div>
  <svg class="wave waveTop fillGrey" viewbox="0 0 1440 120" aria-hidden="true">
    <path
      d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
  </svg>

  <div id="product-desc">
    <div class="container">
      <h2>Description</h2>
      <p>
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux
        de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à
        la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
      </p>

    </div>
    <svg class="wave waveTop fillLightGreen" viewbox="0 0 1440 120" aria-hidden="true">
      <path
        d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
    <article id="blocProducts" class="backgroundLightGreen">
      <div class="container">
        <div class="blocFull">
          <h2 class="textCenter">Nos produits phares</h2>
          <ul class="detailList">
            {# TODO remplacer la liste par des valeurs de la base de données #}
            <li class="detailElement">
              <a class="fontSize0" href="#">
                <img src="https://img-9gag-fun.9cache.com/photo/a9pAbNK_700bwp.webp">
              </a>
              <ul class="detailContent">
                <li class="detailContentDatas">
                  <a href="#">
                    <h3>Gobelet recyclé rouge</h3>
                  </a>
                  <a href="#">
                    <p>Catégorie 1</p>
                  </a>
                </li>
                <li class="detailPrice">50,00 €</li>
              </ul>
            </li>
            <li class="detailElement">
              <a class="fontSize0" href="#">
                <img src="https://www.woopets.fr/assets/races/000/206/big-portrait/griffon-bruxellois.jpg">
              </a>
              <ul class="detailContent">
                <li class="detailContentDatas">
                  <a href="#">
                    <h3>Gobelet recyclé bleu</h3>
                  </a>
                  <a href="#">
                    <p>Catégorie 2</p>
                  </a>
                </li>
                <li class="detailPrice">50,00 €</li>
              </ul>
            </li>
            <li class="detailElement">
              <a class="fontSize0" href="#">
                <img src="https://www.chiens-de-france.com/photo/eleveurs/55/10984/presentations/f976aba7-4788-3fe4-5ddf-0598e5eadba1.jpg">
              </a>
              <ul class="detailContent">
                <li class="detailContentDatas">
                  <a href="#">
                    <h3>Gobelet recyclé vert</h3>
                  </a>
                  <a href="#">
                    <p>Catégorie 2</p>
                  </a>
                </li>
                <li class="detailPrice">50,00 €</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
{% endblock %}
