{% extends "base.html.twig" %}

{% block title %}{{ product.getName }}{% endblock %}

{% block body %}
  <h1>{{ product.getName }}</h1>
  <p>Prix HT : {{ (product.getPriceHt / 100)|number_format(2, ',', '.') }} €</p>
  <p>Prix TTC : {{ (product.getPriceTtc / 100)|number_format(2, ',', '.') }} €</p>
  <p>{{ product.getContent }}</p>

  <a href="{{ path('index_product') }}">Retourner à la liste des produits</a>
{% endblock %}
