{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block idBody %}contact{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}">
<div class="blocImage textCenter">
  <div class="title">
    <h1>Une question ?</h1>
    <h2>Contactez-nous !</h2>
  </div>
  {# <img class="imgPres" src="{{ asset('images/background-contact.jpg') }}" /> #}
  <svg class="wave waveTop fillWhite onImage" viewBox="0 0 1440 120" aria-hidden="true">
    <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
  </svg>
</div>
  {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-2">
      {{ message }}
    </div>
  {% endfor %}
<div id="contactForm">
  <div class="container">
    <div class="blocFull">
      <h1>Contact</h1>
      {{ form_start(form) }}
      <div class="blockUser">
        <div class="input-user">
          <div class="input-user-label">
            {{ form_label(form.lastName) }}
          </div>
          <div class="input-user-widget">
            {{ form_widget(form.lastName) }}
          </div>
        </div>
        <div class="input-user">
          <div class="input-user-label">
            {{ form_label(form.firstName) }}
          </div>
          <div class="input-user-widget">
            {{ form_widget(form.firstName) }}
          </div>
        </div>
        <div class="input-user">
          <div class="input-user-label">
            {{ form_label(form.email) }}
          </div>
          <div class="input-user-widget">
            {{ form_widget(form.email) }}
          </div>
        </div>
      </div>

      <div class="input-message">
        <div class="input-message-label">
          <div class="label-message">
            {{ form_label(form.content) }}
          </div>
          <div class="input-subject">
            {{ form_row(form.subject) }}
          </div>
        </div>
        <div class="input-message-widget">
          {{ form_widget(form.content) }}
        </div>
      </div>

      <div class="terms">
          {{ form_label(form.agreeTerms) }}
          {{ form_widget(form.agreeTerms) }}
      </div>
      <button>Envoyer</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
