<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %}
      - E-commerce G4</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}"/>
    {% block stylesheets %}
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@master/css/tarteaucitron.css">
      {{ encore_entry_link_tags('app')}}
      <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>

  <body id="{% block idBody %}{% endblock %}">
    <header>
      {% block nav %}
        <div id="header-menu">
          <div id="header-menu-gauche">
            <ul>
              <li id="homepage">
                <a class="fontSize0" href="{{ path('homepage') }}">Accueil</a>
                <span>Accueil</span>
              </li>
              <li id="products-tpl">
                <a class="fontSize0" href="{{ path('index_product') }}">Produits</a>
                <span>Produits</span>
              </li>
              <li id="service-tpl">
                <a class="fontSize0" href="{{ path('index_service') }}">Services</a>
                <span>Services</span>
              </li>
              <li id="article-tpl">
                <a class="fontSize0" href="{{ path('index_article') }}">Blog</a>
                <span>Blog</span>
              </li>
              <!-- <li> <a class="fontSize0" href="#">Demande de devis</a> <span>Demande de devis</span> </li> -->
              <li id="contact">
                <a class="fontSize0" href="{{ path('contact') }}">Contact</a>
                <span>Contact</span>
              </li>
            </ul>
          </div>
          <div id="header-menu-droite">
            <ul>
              <li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  {% if app.user.isCompany == 0 %}
                    <a href="{{ path('cart_index') }}">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  {% else %}
                    <a href="{{ path('cart_company_index') }}">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  {% endif %}
                {% else %}
                  <a href="{{ path('cart_index') }}">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                {% endif %}
              </li>
              <li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  <a class="material-icons" href="{{ path('profile_index') }}">
                    <i class="fas fa-user-alt"></i>
                  </a>
                {% else %}
                  <a href="{{ path('app_login') }}">
                    <i class="fas fa-user-alt"></i>
                  </a>
                {% endif %}
              </li>
              <li>
                <a href="/">
                  <img href="/" src="{{ asset('images/logo-eco-service.png') }}" alt="logo eco service">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="responsiveMenu">
          <a class="logoSite" href="/">
            <img href="/" src="{{ asset('images/logo-eco-service.png') }}" alt="logo eco service">
          </a>
        <input class="burger" type="checkbox">
        <nav>
            <a class="material-icons" href="{{ path('homepage') }}">Accueil</a>
            <a class="material-icons" href="{{ path('index_product') }}">Produits</a>
            <a class="material-icons" href="{{ path('index_service') }}">Services</a>
            <a class="material-icons" href="{{ path('index_article') }}">Blog</a>
            <a class="material-icons" href="{{ path('contact') }}">Contact</a>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              {% if app.user.isCompany == 0 %}
                <a class="material-icons" href="{{ path('cart_index') }}">Panier </a>
              {% else %}
                <a class="material-icons" href="{{ path('cart_company_index') }}">Panier </a>
              {% endif %}

              <a class="material-icons" href="{{ path('profile_index') }}">Mon compte</a>
              <a class="material-icons" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
              <a class="material-icons" href="{{ path('cart_index') }}">Panier </a>
              <a class="material-icons" href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
          </nav>
        </div>
      {% endblock %}
    </header>

    <main>
      {% block body %}{% endblock %}
    </main>

    <svg class="wave waveTop fillGreen backgroundLightGreenInHomepage" viewbox="0 0 1440 120" aria-hidden="true">
      <path
        d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>

    <footer>
      {% block footer %}
        <div id="footer-container">
          <div id="footer-menu">
            <ul>
              <li>
                <a href="{{ path('homepage') }}">Accueil</a>
              </li>
              <li>
                <a href="{{ path('index_product') }}">Produits</a>
              </li>
              <li>
                <a href="{{ path('index_service') }}">Services</a>
              </li>
              <li>
                <a href="{{ path('index_article') }}">Blog</a>
              </li>
              <!-- <li> <a href="#">Demande de devis</a> </li> -->
              <li>
                <a href="{{ path('contact') }}">Contact</a>
              </li>
            </ul>
          </div>
          <div id="footer-empty"></div>
          <div id="footer-logos">
            <ul>
              <li>
                <a href="/">
                  </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="CGV">
          <a href="{{ path('rgpd_index') }}">
            Informations légales
          </a>
        </div>
      {% endblock %}
    </footer>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@master/tarteaucitron.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@master/tarteaucitron.services.js"></script>
    <script type="text/javascript">
      tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */

    	  "orientation": "bottom", /* Banner position (top - bottom) */
    	  "showAlertSmall": true, /* Show the small banner on bottom right */
    	  "cookieslist": true, /* Show the cookie list */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
    	  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    	  "highPrivacy": true, /* Disable auto consent */
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */
    	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

    	  "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
      });
    </script>
    <script type="text/javascript">
      tarteaucitron.user.gajsUa = 'UA-000000-2';
      tarteaucitron.user.googleFonts = 'families';
      (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    </script>
    {% block javascripts %}
      {{ encore_entry_script_tags('app')}}
    {% endblock %}
  </body>

</html>
