<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - E-commerce G4</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}"/>
    {% block stylesheets %}
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      {{ encore_entry_link_tags('app')}}
      <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>

<body id="{% block idBody %}{% endblock %}">
    <header>
      {% block nav %}
        <div id="header-menu">
          <div id="header-menu-gauche">
            <ul>
              <li id="homepage">
                <a class="fontSize0" href="{{ path('homepage') }}">Accueil</a>
                <span>Accueil</span>
              </li>
              <li id="products-tpl">
                <a class="fontSize0" href="{{ path('index_product') }}">Produits</a>
                <span>Produits</span>
              </li>
              <li id="service-tpl">
                <a class="fontSize0" href="{{ path('index_service') }}">Services</a>
                <span>Services</span>
              </li>
              <li id="article-tpl">
                <a class="fontSize0" href="{{ path('index_article') }}">Blog</a>
                <span>Blog</span>
              </li>
              <!--
              <li>
                <a class="fontSize0" href="#">Demande de devis</a>
                <span>Demande de devis</span>
              </li>
              -->
              <li id="contact">
                <a class="fontSize0" href="{{ path('contact') }}">Contact</a>
                <span>Contact</span>
              </li>
            </ul>
          </div>
          <div id="header-menu-droite">
            <ul>
              <li>
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-user-alt"></i>
                </a>
              </li>
              <li>
                <a href="/">
                  <img href="/" src="{{ asset('images/logo-eco-service.png') }}" alt="logo eco service">
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endblock %}
    </header>

    <main>
      {% block body %}{% endblock %}
    </main>

    <svg class="wave waveTop fillGreen backgroundLightGreenInHomepage" viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
    <footer>
      {% block footer %}
        <div id="footer-container">
          <div id="footer-menu">
            <ul>
              <li>
                <a href="/">Accueil</a>
              </li>
              <li>
                <a href="/products">Produits</a>
              </li>
              <li>
                <a href="/services">Services</a>
              </li>
              <li>
                <a href="/articles">Blog</a>
              </li>
              <!--
              <li>
                <a href="#">Demande de devis</a>
              </li>
              -->
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <div id="footer-empty"></div>
          <div id="footer-logos">
            <ul>
              <li>
                <a href="/">
                  <img id="logo-site-footer" src="{{ asset('images/logo-eco-service.png') }}" alt="logo eco service">
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="CGV">
          <a href="{{ path('rgpd_index') }}">
            Informations légales
          </a>
        </div>
      {% endblock %}
    </footer>

    {% block javascripts %}
      {{ encore_entry_script_tags('app')}}
    {% endblock %}
  </body>

</html>
