{% extends "base.html.twig" %}

{% block title %}Tous les articles{% endblock %}

{% block idBody %}article-tpl{% endblock %}

{% block body %}
<div class="container reverse">
  <div class="blocHalf">
    <h2>Des recettes DIY</h2>
    <p class="blocContent">Pourquoi ne pas vous mettre à fabriquer vous-même vos produits ?
    Des produits d'entretien aux cosmétiques, vous ferez de considérables économies en plus de réduire vos déchets.
    Nous vous proposons, pour vous aider dans cette démarche, de multiples recettes :
    produit démaquillant, déodorant, cotons réutilisables, lessive, savon, baume à lèvres,...</p>
  </div>
  <div class="blocHalf">
    <img class="fullSize" src="{{ asset('images/img-blog.jpg') }}">
  </div>

  <div class="blocFull">
    <ul class="detailList">
      {% for article in articles %}
        <li class="detailElement">
            <a class="fontSize0" href="{{ path('show_product', { 'slug': article.getSlug }) }}">{{ article.getName }}></a>
              {% if article.images is empty %}
                <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/10/12192715/Brussels-Griffon.jpg" />
              {% else %}
                <img src="{{ article.getImages[0].getUri }}" />
              {% endif %}
            </a>
            <ul class="detailContent">
                <li class="detailContentDatas">
                    <a href="#">
                        <h3>{{ article.name }}</h3>
                    </a>
                    <a href="#">
                        <p>{{ article.category.name }}</p>
                    </a>
                </li>
            </ul>
        </li>
    {% endfor %}
    </ul>

    <div class="paginationContainer">
      <div class="textCenter marginBottom25">
        {{ knp_pagination_render(articles) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
