{% extends "base.html.twig" %}

{% block title %}Tous les articles{% endblock %}

{% block idBody %}article-tpl{% endblock %}

{% block body %}
<div class="container reverse">
  <div class="blocHalf">
    <h2>Des recettes DIY</h2>
    <p class="blocContent">Pourquoi ne pas vous mettre à fabriquer vous-même vos produits ?
    Des produits d'entretien aux cosmétiques, vous ferez de considérables économies en plus de réduire vos déchets.
    Nous vous proposons, pour vous aider dans cette démarche, de multiples recettes :
    produit démaquillant, déodorant, cotons réutilisables, lessive, savon, baume à lèvres,...</p>
  </div>
  <div class="blocHalf">
    <img class="fullSize" src="{{ asset('images/img-blog.jpg') }}">
  </div>

  <div class="blocFull">
    <div class="search">
        {% include 'article/_filter.html.twig' with {form: form} only %}
    </div>
    <div class="trie">
      {{ knp_pagination_sortable(products, 'Nom', 'product.name') }}
    </div>
    <ul>
      {% for article in articles %}
        <li>
          <a href="{{ path('show_article', { 'slug': article.getSlug }) }}">{{ article.getName }}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="paginationContainer">
      <div class="textCenter marginBottom25">
        {{ knp_pagination_render(articles) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
