{% extends "base.html.twig" %}

{% block title %}Ma facture #{{ bill.ref }}{% endblock %}

{% block idBody %}bill-tpl{% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px;">
  <div class="blocFull">
    <h1>Ma facture #{{ bill.ref }}</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Produits</th>
          <th>Prix TTC</th>
          <th>Quantité</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
        {% for productBill in bill.productBills %}
        <tr>
          <td><a href="{{ path('show_product', { 'id': productBill.product.id }) }}">{{ productBill.product.name }}</a></td>
          <td>{{ (productBill.product.priceTtc)|number_format(2, ',', ' ') }} €</td>
          <td><span>{{ productBill.quantity }}</span></td>
          <td><span>{{ (productBill.product.priceTtc * productBill.quantity)|number_format(2, ',', ' ') }} €</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="totalPanier">
      <div>
        <p>
          <b>Total :</b>
          {{ total|number_format(2, ',', ' ') }} €
        </p>
      </div>
      <a class="btn" href="{{ path('profile_index') }}">Revenir à la liste des factures</a>
    </diV>
  </div>
</div>
{% endblock %}
